.git
.artifacts
**/bin
**/obj
**/node_modules
**/.next
**/coverage
**/TestResults
**/*.user
**/*.suo
**/.env
**/.env.*
!**/.env.example
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.Production.json
*.mdf
*.ldf
*.db
*.sqlite
*.sqlite3
*.log
